*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
 }
 
 html{
    font-size: 62.5%;
    overflow:auto;
 }

body {
    overflow: hidden;
    background: rgb(31, 0, 0);
    background: linear-gradient(180deg, rgb(31, 0, 0) 14%, rgba(0,0,0,1) 100%);
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#OpenMenu, #CloseMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}