html {
    scroll-behavior: smooth;
}


/* Avaliar se muda ou não o header */

.cabecalho {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgb(26, 25, 25);
}

.cabecalho .logo {
    display: flex;
    gap: 30px;
    height: 55px;
}

.cabecalho .menu {
    display: flex;
    flex: 1 1 200px;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}


.cabecalho .menu li a,
.cabecalho .menu .contato {
    padding: 30px;
    color: #e8e8e8;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
    font-family: 'Codygoon';
}



.cabecalho .menu li span {
    margin: 10px;
    margin-top: 5px;
    font-family: 'Codygoon';
}

.cabecalho .menu li a:hover{
    border-bottom: 2px solid white;
}

.home {
    display: flex;
    justify-self: center;
    align-content: center;
    background-image: url(../imagem/Fundo/fundo-produto.png);
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor preta com 50% de opacidade */
    z-index: 1;
}

/*Guides*/
.home-guide {
    display: grid;
    margin: 5px;
    padding: 10px;
    justify-self: center;
    align-content: center;
    background-image: url(../imagem/Fundo/fundo-produto.png);
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 80px);
}

.container {
    overflow-y: auto; /* Permite rolagem vertical */
    max-height: 100vh; /* Define uma altura máxima para o container */

}

.home-guide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor preta com 50% de opacidade */
    z-index: 1;
}


.home::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.275), rgba(0, 0, 0, 0.275) 100%, transparent 100%);
 }

.titulo-guide {
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    font-family: 'Codygoon';
    color: #fff;
}

.home-guide .card {
    background: #1a1a1a;
    color: #fff;
    font-family: 'Codygoon';
}

.home .slide {
    z-index: 2;
    display: grid;
    position: relative;
    width: 100%;
    align-self: center;
    justify-content: center;
}

.home .carousel-item {
    width: 100% !important;
}

.home .carousel-inner {
    width: 940px;
}



/* parte da vitrine*/

.compre-ja {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 9pc;
    margin-left: auto;
}


.compre-ja .titulo {
    justify-content: center;
    text-align: center;
    font-size: 50px;
    margin-top: 90px;
    font-family: 'Codygoon';
    color: #fff;
}

.compre-ja .text {
    color: #fff;
    font-family: 'Codygoon';
}

.aviso {
    display: flex;
    margin-top: 5pc;
    margin-left: 40%;
    border: 2px solid #fff;
    background-color: #1a1a1acf;
    border-radius: 5px;
    color: #fff;
    font-family: 'Codygoon', sans-serif;
}

.compre-ja .produtos .card {
    justify-self: center !important;

}

.compre-ja .produtos .descricao {
    max-width: 300px;
    width: auto;
    text-align: justify;
    overflow: hidden;
    height: 1em; /* Define a altura inicial (aproximadamente 3 linhas) */
    opacity: 0; /* Inicialmente invisível */
    transition: height 2s ease, opacity 2s ease; /* Transição suave de altura e opacidade */
    position: relative;
}

.compre-ja .produtos .descricao:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
    /* Gradiente para criar o efeito de fade */
    transition: all 0.3s ease; /* Transição suave do gradiente */
}

.compre-ja .produtos .descricao.expandido {
    height: auto; /* Expande para altura total */
    opacity: 1; /* Torna a descrição visível */
}

.compre-ja .produtos .descricao.expandido:after {
    opacity: 0; /* Remove o gradiente ao expandir */
}

.compre-ja .produtos .btn-leia-mais {
    margin-top: 10px;
}


.guide {
display: flex;
justify-content: center;
margin: 30px 5px 10px 5px;
}


.guide .guia {
background-color: #1a1a1a;
border: none;
padding: 10px;
border-radius: 10px;
font-family: 'Codygoon';
color: #fff;
transition: all 0.5s ease !important;
}

.guide .guia:hover {
    transition: all 0.5s ease !important;
    background:#fff;
    color:#1a1a1a;
    border: 1px solid rgb(0, 76, 255) !important;
    transform: scale(1.05) !important;
}

.compre-ja .produtos button:hover {
    background: #000821;
}

.btn-customizado {
    transition: all 0.5s ease !important;
    margin-top: 10px;
}

.btn-customizado:hover {
    transition: all 0.5s ease !important;
    background: #000821 !important;
    /* Cor ao passar o mouse */
    border: 1px solid rgb(0, 76, 255) !important;
    transform: scale(1.05) !important;
}

.subscription-info {
    background-color: #0372bc71; /* Cor de fundo leve */
    border: 1px solid #ccc;
    color: #fff;    /* Borda leve */
    padding: 20px;             /* Espaçamento interno */
    text-align: center;        /* Centraliza o texto */
    margin: 20px 0;           /* Margem acima e abaixo */
    border-radius: 8px;       /* Bordas arredondadas */
}

.btn-assinar {
    display: inline-block;      /* Permite o padding */
    padding: 10px 20px;        /* Espaçamento interno do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff;               /* Cor do texto do botão */
    text-decoration: none;      /* Remove sublinhado */
    border-radius: 5px;        /* Bordas arredondadas do botão */
    transition: background-color 0.3s; /* Efeito de transição */
}

.btn-assinar:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

.overlay {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.plan {
    position: fixed;
    top: 55%;
    left: 50%;
    color: #fff;
    font-family: 'Codygoon';
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.951);
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    width: 90%;
    height: 84%;
}

.plan-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.plan-options {
    display: flex;
    justify-content: space-between; /* Alinha as colunas uma ao lado da outra */
    flex-wrap: wrap; /* Permite que as colunas se movam para a próxima linha se não houver espaço suficiente */
    margin: 20px 0; /* Adiciona um espaço entre as opções de plano e o título */
}

.plan-item {
    flex: 1; /* Faz com que cada item ocupe uma parte igual do espaço disponível */
    background: rgba(26, 26, 26, 0.884);
    margin: 10px; /* Adiciona margens entre as colunas */
    padding: 10px; /* Adiciona um pouco de espaço interno */
    box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos nas dimensões totais */
}




.roda-pe {
    height: 40pc;
    color: #fff;
    display: grid;
    margin: auto;
    width: 100%;
    padding-top: 3%;
    flex: 1 1 100vw;
    background-color: #1a1a1a;
}

.roda-pe .opcoes {
    display: flex;
    justify-content: center;
}



.roda-pe .opcoes .lista {
    display: flex;
    font-size: 20px;
    font-family: 'Codygoon';
    justify-content: center;
    text-align: center;
    align-items: center;

}

.roda-pe .opcoes .lista a {
    margin: 1pc;
    text-decoration: none;
    color: #fff;
    margin-bottom: 2pc;
    margin-top: 2pc;
}

.roda-pe .opcoes .lista a:hover {
    transform: translateY(-5px);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.roda-pe .logo {
    margin-left: 42%;
    margin-top: 4pc;
    width: 250px;
}



.roda-pe .social_media {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 38%;
}

.roda-pe .subtitulo {
    display: flex;
    margin-left: 39%;
    margin-bottom: 2pc;
    font-size: 15px;
    text-align: center;
    font-family: 'Codygoon', sans-serif;

}

.roda-pe .social_media a {
    position: relative;
    display: flex;
    margin-left: 13px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 2px 1px 5px;
    background-color: #ffffff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.roda-pe .social_media img {
    height: 2pc;

}

.roda-pe .social_media #telegram img {
    margin-right: 5px;

}

.roda-pe .social_media #facebook:hover {
    transform: scale(1.1);
    /*
    background: rgb(255, 255, 255);
    background: linear-gradient(31deg, rgba(255, 255, 255, 1) 0%, rgba(98, 223, 255, 1) 23%, rgba(0, 172, 255, 1) 44%, rgba(47, 128, 255, 1) 74%, rgba(81, 91, 255, 1) 100%);
    */
    background: rgb(64, 167, 255);
    background: linear-gradient(35deg, rgba(64, 167, 255, 1) 0%, rgba(0, 82, 255, 1) 100%);
}

.roda-pe .social_media #instagram:hover {
    transform: scale(1.1);
    background: rgb(255, 209, 0);
    background: linear-gradient(23deg, rgba(255, 209, 0, 1) 0%, rgba(255, 136, 0, 1) 22%, rgba(227, 4, 4, 1) 53%, rgba(185, 6, 178, 1) 78%);
}

.roda-pe .social_media #discord:hover {
    transform: scale(1.1);
    background: rgb(87, 81, 255);
    background: linear-gradient(35deg, rgba(87, 81, 255, 1) 0%, rgba(157, 95, 255, 1) 100%);
}

.roda-pe .social_media #linkedin:hover {
    transform: scale(1.1);
    background: rgb(32, 104, 255);
    background: linear-gradient(35deg, rgba(32, 104, 255, 1) 0%, rgba(69, 60, 255, 1) 100%);
}

.roda-pe .social_media #telegram:hover {
    transform: scale(1.1);
    background: rgb(64, 187, 255);
    background: linear-gradient(35deg, rgba(64, 187, 255, 1) 0%, rgba(0, 147, 255, 1) 100%);
}

/*
 Cores que variam de acordo com a rede social (sombra da imagem)
*/

.roda-pe .social_media #facebook:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(5, 98, 144));
}

.roda-pe .social_media #instagram:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(95, 32, 32));
}


.roda-pe .social_media #discord:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(57, 32, 95));
}

.roda-pe .social_media #linkedin:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(32, 36, 95));
}

.roda-pe .social_media #telegram:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(22, 68, 105));
}



.roda-pe #copyright {
    font-family: 'Codygoon';
    color: #fff;
    text-align: center;
}


/*Final da parte da barra de pesquisa*/