.cabecalho {
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid rgb(26, 25, 25);
}

.cabecalho .logo {
    display: flex;
    margin-left: 10px;
    gap: 30px;
    height: 55px;
}

.cabecalho .menu {
    display: flex;
    flex: 1 1 200px;
    align-items: center;
    justify-content: flex-end;
}


.cabecalho .menu li a {
    padding: 20px;
    text-decoration: none;
    color: #e8e8e8;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Codygoon';
}

.cabecalho .menu li a:hover {
    border-bottom: 2px solid white;

}

.home {
    display: grid;
    justify-content: center;
    position: relative;
    min-height: calc(100vh - 80px);
    overflow: hidden;
    font-family: 'Codygoon';
}


.home .container {
    display: grid;
    margin: auto;
    width: 93pc;
    height: 100%;
    overflow-y:scroll;
    max-height: calc(80vh - 30px);
    align-items: center;
    background: #2020206b;
    padding: 5px 15px 5px 15px;
}

.home .container .area {
    display: grid;
    margin-left: 90px;
}

.home .container .area .titulo {
    justify-self: center;
    font-family: 'Eingrantch Mono';
    color: #fff;
    margin-right: 100px;
    margin-bottom: 20px;
}

.home .container .area .formulario {
    display: grid;
    justify-self: center;
    width: 500px;
}

.home .container .area .formulario input {
    margin: 3px 0px 3px 0px;
    height: 30px;
    width: 400px;
    background: rgb(31, 31, 31);
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-family: 'Codygoon';
}

.home .container .area .formulario button {
    margin: 3px 0px 3px 0px;
    height: 30px;
    width: 400px;
    background: rgb(31, 31, 31);
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    color: #fff;
    font-family: 'Codygoon';
}

.home .container .area .tabela {
    display: flex;
    overflow: hidden;
    width: 300px;
    background: #fff;
}

.home .selecao {  
    background: rgba(0, 0, 0, 0.33);
    width: 100%;
    justify-items: center;
    align-items: center;

}

.total-valores {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 1em;
    font-weight: bold;
 }


.home .selecao .titulo
.home-guia titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Eingrantch Mono';
}


/*Reutilização para os guias*/

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #000000a3;
    color: #fff;
    font-family: 'Codygoon';
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    width: auto;
    margin: 20px;
    flex-direction: column;
    color: #fff;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #117111;
    border: none;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.message {
    padding: 10px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}


.form-overlay {
    display: none; /* Oculta por padrão */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com opacidade */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Certifique-se de que está acima de outros elementos */
}

.form-overlay.active {
    display: flex; /* Mostra o overlay quando ativo */
}

.form-content {
    background-color: rgb(42, 102, 253); /* Fundo da div de conteúdo */
    padding: 20px;
    border: 2px black solid;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

/* Adicione um fundo semitransparente para cobrir o resto da página */
.overlay-bg {
    position: fixed; /* Fixa a posição na tela */
    top: 0;
    left: 0;
    width: 100%;
    
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor de fundo do overlay */
    z-index: 999; /* Um nível abaixo do formulário */
    display: none; /* Inicialmente escondido */
}

.overlay-bg.active {
    display: block; /* Exibe quando ativo */
}

.form-content input, textarea, button, select, a  {
    border: 2px black solid !important;
    
    }


/*Fim da reutilização Guias*/

.roda-pe {
    height: auto;
    display: grid;
    margin: auto;
    width: 100%;
    padding-top: 3%;
    flex: 1 1 100vw;
    background-color: #1a1a1a;
}

.roda-pe .opcoes {
    display: flex;
    justify-content: center;
}



.roda-pe .opcoes .lista {
    display: flex;
    font-size: 20px;
    font-family: 'Codygoon';
    justify-content: center;
    text-align: center;
    align-items: center;

}

.roda-pe .opcoes .lista a {
    margin: 1pc;
    margin-bottom: 2pc;
    
    margin-top: 2pc;
}

.roda-pe .opcoes .lista a:hover {
    transform: translateY(-5px);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.roda-pe .logo {
    margin-left: 42%;
    margin-top: 4pc;
    width: 250px;
}



.roda-pe .social_media {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 38%;
}

.roda-pe .subtitulo {
    display: flex;
    margin-left: 39%;
    margin-bottom: 2pc;
    font-size: 15px;
    text-align: center;
    font-family: 'Codygoon', sans-serif;

}

.roda-pe .social_media a {
    position: relative;
    display: flex;
    margin-left: 13px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 2px 1px 5px;
    background-color: #ffffff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.roda-pe .social_media img {
    height: 2pc;

}

.roda-pe .social_media #telegram img {
    margin-right: 5px;

}

.roda-pe .social_media #facebook:hover {
    transform: scale(1.1);
    /*
    background: rgb(255, 255, 255);
    background: linear-gradient(31deg, rgba(255, 255, 255, 1) 0%, rgba(98, 223, 255, 1) 23%, rgba(0, 172, 255, 1) 44%, rgba(47, 128, 255, 1) 74%, rgba(81, 91, 255, 1) 100%);
    */
    background: rgb(64, 167, 255);
    background: linear-gradient(35deg, rgba(64, 167, 255, 1) 0%, rgba(0, 82, 255, 1) 100%);
}

.roda-pe .social_media #instagram:hover {
    transform: scale(1.1);
    background: rgb(255, 209, 0);
    background: linear-gradient(23deg, rgba(255, 209, 0, 1) 0%, rgba(255, 136, 0, 1) 22%, rgba(227, 4, 4, 1) 53%, rgba(185, 6, 178, 1) 78%);
}

.roda-pe .social_media #discord:hover {
    transform: scale(1.1);
    background: rgb(87, 81, 255);
    background: linear-gradient(35deg, rgba(87, 81, 255, 1) 0%, rgba(157, 95, 255, 1) 100%);
}

.roda-pe .social_media #linkedin:hover {
    transform: scale(1.1);
    background: rgb(32, 104, 255);
    background: linear-gradient(35deg, rgba(32, 104, 255, 1) 0%, rgba(69, 60, 255, 1) 100%);
}

.roda-pe .social_media #telegram:hover {
    transform: scale(1.1);
    background: rgb(64, 187, 255);
    background: linear-gradient(35deg, rgba(64, 187, 255, 1) 0%, rgba(0, 147, 255, 1) 100%);
}

/*
 Cores que variam de acordo com a rede social (sombra da imagem)
*/

.roda-pe .social_media #facebook:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(5, 98, 144));
}

.roda-pe .social_media #instagram:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(95, 32, 32));
}


.roda-pe .social_media #discord:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(57, 32, 95));
}

.roda-pe .social_media #linkedin:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(32, 36, 95));
}

.roda-pe .social_media #telegram:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(22, 68, 105));
}



.roda-pe #copyright {
    font-family: 'Codygoon';
    color: #fff;
    text-align: center;
}